@import "https://raw.githubusercontent.com/Logos-King/CatGirlTheme/master/app/scrollbar.css";
@import "https://raw.githubusercontent.com/Logos-King/CatGirlTheme/master/app/titlebar.css";
@import "https://raw.githubusercontent.com/Logos-King/CatGirlTheme/master/app/keyframes.css";
@import "https://raw.githubusercontent.com/Logos-King/CatGirlTheme/master/app/css-snippets.css";
@import "https://raw.githubusercontent.com/Logos-King/CatGirlTheme/master/app/font.css";
